header {
    align-items: center;
    color: #465E83;
    background-color: #F5B87A;
    display: flex;
    justify-content: space-evenly;
}

menu-list {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

footer {
    background-color: #bb3a45;
    color: wheat;
}

.lightcoral-background {
    background-color: lightcoral;
}

.centered {
    text-align: center;
}

.intro {
    max-width: 500px;
    text-align: left;
}

.thin-powderblue-border {
    border-color: powderblue;
    border-width: 10px;
    border-style: dotted;
    border-radius: 10%;
}

head {
    font-family: Papyrus;
    font-size: 50;
    max-width: 500px;
}

header {
    font-size: 100;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 10px;
    font-family: fantasy;
}

#goldenrodButton {
    background-color: goldenrod;
    color: deeppink;
    border-radius: 5px;
}